article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
textarea {
  overflow: auto;
}
input[type="checkbox"],
input [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
input[type="search"]::-webkit-search-cancel-button,
input [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
input::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
@font-face {
  font-family: "AgoraSansPro";
  src: url("fonts/AgoraSansProRegular.eot");
  src: url("fonts/AgoraSansProRegular.eot?#iefix") format("embedded-opentype"), url("fonts/AgoraSansProRegular.woff") format("woff"), url("fonts/AgoraSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AgoraSansProMedium";
  src: url("fonts/AgoraSansProMedium.eot");
  src: url("fonts/AgoraSansProMedium.eot?#iefix") format("embedded-opentype"), url("fonts/AgoraSansProMedium.woff") format("woff"), url("fonts/AgoraSansProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AgoraSansProLight";
  src: url("fonts/AgoraSansProLight.eot");
  src: url("fonts/AgoraSansProLight.eot?#iefix") format("embedded-opentype"), url("fonts/AgoraSansProLight.woff") format("woff"), url("fonts/AgoraSansProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AgoraSansProBold";
  src: url("fonts/AgoraSansProBold.eot");
  src: url("fonts/AgoraSansProBold.eot?#iefix") format("embedded-opentype"), url("fonts/AgoraSansProBold.woff") format("woff"), url("fonts/AgoraSansProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AgoraSansProBlack";
  src: url("fonts/AgoraSansProBlack.eot");
  src: url("fonts/AgoraSansProBlack.eot?#iefix") format("embedded-opentype"), url("fonts/AgoraSansProBlack.woff") format("woff"), url("fonts/AgoraSansProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AgoraSansProThin";
  src: url("fonts/AgoraSansProThin.eot");
  src: url("fonts/AgoraSansProThin.eot?#iefix") format("embedded-opentype"), url("fonts/AgoraSansProThin.woff") format("woff"), url("fonts/AgoraSansProThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  line-height: 1;
  font-size: 16px;
  min-width: 256px;
  font-family: AgoraSansPro, Helvetica, sans-serif;
  color: #393938;
  background-color: #E6F6FD;
}
.float:after {
  content: '';
  clear: both;
  display: block;
}
.container-gi {
  max-width: 1920px;
  margin: 0 auto;
}
.container-gi.rel {
  position: relative;
}
.header {
  padding: 10px 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 10px rgba(38, 125, 244, 0.1);
  -moz-box-shadow: 0 0 20px 10px rgba(38, 125, 244, 0.1);
  box-shadow: 0 0 20px 10px rgba(38, 125, 244, 0.1);
  position: relative;
  z-index: 3;
}
.logo {
  background-color: white!important;
  width: 50px;
  height: 62px;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.logo-b {
  float: left;
}
.enter-b {
  float: right;
  margin: 10px 0 0;
}
.block-link {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 30px;
  background: #267DF4;
  color: #fff;
  line-height: 1;
  display: inline-block;
  border: 1px solid #267DF4;
  outline: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.block-link:hover,
.block-link:focus {
  background: #fff;
  color: #267DF4;
  text-decoration: none;
}
.aside {
  width: 20%;
  float: left;
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding-bottom: 40px;
}
.aside-column {
  width: 20%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #fff;
}
.aside-name {
  padding: 60px 10px 20px;
  text-align: center;
  font-size: 20px;
}
.aside-menu {
  text-align: center;
  margin-top: 20px;
}
.aside-menu a {
  display: block;
  color: #393938;
  padding: 20px 0;
}
.aside-menu a span {
  display: block;
  margin-bottom: 5px;
}
.aside-menu a.active {
  border-left: 6px solid #0081C7;
  background-color: #f0f8fc;
}
.aside-menu a:hover,
.aside-menu a:focus {
  background-color: #f0f8fc;
  color: #393938;
  text-decoration: none;
}
.aside-menu li {
  display: block;
}
.aside-menu svg {
  width: 50px;
}
.aside .aside-control {
  width: 80%;
  margin: 0 auto;
}
.main {
  width: 80%;
  float: left;
  padding: 30px;
}
.shadow {
  -webkit-box-shadow: 0 0 6px 2px rgba(38, 125, 244, 0.15);
  -moz-box-shadow: 0 0 6px 2px rgba(38, 125, 244, 0.15);
  box-shadow: 0 0 6px 2px rgba(38, 125, 244, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.line-first {
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
}
.line-first__box {
  float: left;
  padding: 20px;
  width: 23.5%;
  height: 100px;
  margin-left: 2%;
  background-color: #fff;
}
.line-first__box:first-child {
  margin-left: 0;
}
.line-first__box span {
  display: block;
  margin-top: 6px;
}
.line-first__box span:first-child {
  margin-top: 0;
}
.line-first__btns-box {
  float: right;
  width: 50%;
  text-align: right;
}
.line-second {
  width: 100%;
  margin-bottom: 30px;
}
.line-second__box-left {
  width: 30%;
  float: left;
  margin-right: 4%;
  background-color: #fff;
  padding: 10px 20px 20px;
}
.line-second__box-right {
  width: 66%;
  float: left;
  background-color: #fff;
  overflow-y: auto;
  _overflow: auto;
}
.line-second__box-right::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}
.line-second__box-right::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.line-second__box-centered {
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
}
.line-second .details-table {
  min-width: 530px;
}
.line-third {
  background-color: #fff;
  overflow-y: auto;
  _overflow: auto;
}
.line-third::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}
.line-third::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.line-third .details-table {
  min-width: 474px;
}
.diagram-circle {
  display: block;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #0081c7;
}
.big-digit {
  font-size: 24px;
}
.details-table {
  width: 100%;
  border: none;
  border-collapse: separate;
  padding: 10px 30px 0;
}
.details-table th {
  text-align: left;
  padding: 15px 0;
  border-bottom: 1px solid #D8D8D8;
}
.details-table tr td:first-child {
  text-align: left;
  border-left: 0;
}
.details-table tr td {
  padding: 20px 0;
  border-bottom: 1px solid #D8D8D8;
  background: none;
}
.details-table tr:last-child td {
  border-bottom: 0;
}
.btn {
  display: inline-block;
  background: none;
  border: 1px solid #267DF4;
  outline: none;
  padding: 10px 25px;
  margin-left: 20px;
  color: #267DF4;
  font-size: 14px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: .25s all;
  -moz-transition: .25s all;
  -ms-transition: .25s all;
  -o-transition: .25s all;
  transition: .25s all;
}
.btn:hover {
  background-color: #267DF4;
  color: #fff;
}
.bank-data-title {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
}
.big-data {
  font-size: 24px;
  display: block;
  margin-bottom: 6px;
  word-wrap: break-word;
}
.block {
  font-size: 15px;
}
.block-full {
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
}
.block-half {
  width: 49%;
  float: left;
  margin-left: 2%;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
}
.block-half:first-child {
  margin-left: 0;
}
.block-third {
  width: 32%;
  float: left;
  margin-left: 2%;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
}
.block-third:first-child {
  margin-left: 0;
}
.block-btns {
  text-align: right;
  margin-top: 10px;
}
.input {
  display: block;
  border: 1px solid #C5C5C5;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.input:focus {
  border-color: #929292;
}
@media screen and (max-width: 992px) {
  .block-half {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .block-third {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .aside-name {
    font-size: 16px;
  }
  .line-first__box {
    width: 49%;
    margin-bottom: 20px;
  }
  .line-first__box:nth-child(2n+3) {
    margin-left: 0;
  }
  .line-second__box {
    width: 50%;
  }
  .line-second__box-left {
    width: 50%;
    margin: 0 auto 20px;
    float: none;
  }
  .line-second__box-right {
    width: 100%;
    float: none;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    width: 36px;
  }
  .block-link {
    font-size: 14px;
    padding: 8px 20px;
    margin-top: 3px;
  }
  .aside {
    width: 100%;
    float: none;
  }
  .aside-column {
    display: none;
  }
  .aside-name {
    padding-top: 30px;
  }
  .aside-menu li {
    width: 33.333333%;
    float: left;
    border-left: 1px solid #C5C5C5;
  }
  .aside-menu li:first-child {
    border-left: none;
  }
  .aside-menu a.active {
    color: #267DF4;
    border: none;
    background: none;
  }
  .aside-menu a.active svg path {
    fill: #267DF4;
  }
  .main {
    width: 100%;
  }
  .line-first {
    margin-bottom: 0;
  }
  .line-third .details-table {
    padding: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .line-second__box-left {
    width: 80%;
  }
  .line-first__box {
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .aside-menu a {
    font-size: 14px;
  }
  .aside-menu svg {
    width: 30px;
  }
  .main {
    padding: 10px;
  }
  .big-data {
    font-size: 18px;
    font-family: AgoraSansProMedium, Helvetica, sans-serif;
  }
  .block-full,
  .block-half,
  .block-third {
    padding: 10px;
    margin-bottom: 15px;
  }
  .block-btns {
    text-align: center;
  }
  .block-btns .btn {
    margin: 10px;
  }
  .bank-data-title {
    margin: 15px 0;
    font-size: 16px;
  }
  .line-second__box-left {
    width: 100%;
  }
}
.map {
  width: 100%;
  height: 500px;
}
