article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
textarea {
  overflow: auto;
}
input[type="checkbox"],
input [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input #map {
  width: 100%;
  height: 80%;
}
input[type="number"]::-webkit-inner-spin-button,
input [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
input[type="search"]::-webkit-search-cancel-button,
input [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
input::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: "AgoraSansPro";
  src: url("fonts/AgoraSansProRegular.eot");
  src: url("fonts/AgoraSansProRegular.eot?#iefix") format("embedded-opentype"), url("fonts/AgoraSansProRegular.woff") format("woff"), url("fonts/AgoraSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AgoraSansProMedium";
  src: url("fonts/AgoraSansProMedium.eot");
  src: url("fonts/AgoraSansProMedium.eot?#iefix") format("embedded-opentype"), url("fonts/AgoraSansProMedium.woff") format("woff"), url("fonts/AgoraSansProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AgoraSansProLight";
  src: url("fonts/AgoraSansProLight.eot");
  src: url("fonts/AgoraSansProLight.eot?#iefix") format("embedded-opentype"), url("fonts/AgoraSansProLight.woff") format("woff"), url("fonts/AgoraSansProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AgoraSansProBold";
  src: url("fonts/AgoraSansProBold.eot");
  src: url("fonts/AgoraSansProBold.eot?#iefix") format("embedded-opentype"), url("fonts/AgoraSansProBold.woff") format("woff"), url("fonts/AgoraSansProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AgoraSansProBlack";
  src: url("fonts/AgoraSansProBlack.eot");
  src: url("fonts/AgoraSansProBlack.eot?#iefix") format("embedded-opentype"), url("fonts/AgoraSansProBlack.woff") format("woff"), url("fonts/AgoraSansProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AgoraSansProThin";
  src: url("fonts/AgoraSansProThin.eot");
  src: url("fonts/AgoraSansProThin.eot?#iefix") format("embedded-opentype"), url("fonts/AgoraSansProThin.woff") format("woff"), url("fonts/AgoraSansProThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  line-height: 1;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  font-family: AgoraSansPro, Helvetica, sans-serif;
  color: #393938;
  background: #fafafa;
}
.float:after {
  content: '';
  clear: both;
  display: block;
}
.wrapper {
  min-height: 100%;
  min-width: 100%;
}
.block-link {
  line-height: 1.4;
  cursor: pointer;
  font-size: 18px;
  height: 58px;
  padding: 16px 44px;
  background: #267DF4;
  color: #ffffff;
  display: inline-block;
  border: 1px solid #267DF4;
  outline: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.block-link:hover {
  background: #ffffff;
  color: #267DF4;
}
.block-link.block-link-hovered {
  background: #ffffff;
  color: #267DF4;
}
.block-link.block-link-hovered:hover {
  background-color: #267DF4;
  color: #fff;
}
.block-links {
  margin: 40px 0;
  text-align: left;
}
.block-links .block-link {
  margin: 0 0 0 40px;
}
.block-links .block-link:first-child {
  margin: 0;
}
button.block-link {
  padding: 0 44px;
}
.city-select__text {
  display: inline-block;
  cursor: pointer;
  line-height: 1.5;
}
.city-select__icon {
  display: inline-block;
  width: 16px;
  height: 8px;
  margin: 0 0 0 10px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.city-select__list {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  line-height: 1.5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.city-select__link {
  color: #393938;
  white-space: nowrap;
  display: inline-block;
  background-color: #ffffff;
}
.city-select-b {
  margin-right: 20px;
  position: relative;
  display: inline-block;
}
.city-select-b:hover .city-select__list {
  display: block;
}
.city-select-b:hover .city-select__icon {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.svg-border {
  width: 110px;
  height: 110px;
  display: inline-block;
}
.svg-tab {
  display: inline-block;
  margin: 0 0 0 50px;
  cursor: pointer;
}
.svg-tab:first-child {
  margin: 0;
}
.svg-tab--analytics {
  width: 71px;
  height: 68px;
}
.svg-tab--speed {
  width: 73px;
  height: 84px;
}
.svg-tab--marketing {
  width: 73px;
  height: 73px;
}
.svg-tab--number {
  width: 66px;
  height: 79px;
}
.svg-tab--security {
  width: 65px;
  height: 80px;
}
.svg-tab:hover path,
.svg-tab--active path {
  fill: #267DF4;
}
.title {
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 42px;
  font-family: AgoraSansProBold, Helvetica, sans-serif;
  position: relative;
  margin-bottom: 40px;
}
.title a {
  color: #267df4;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}
.title a:hover,
.title a:focus {
  color: #fff;
}
.title--line {
  padding-bottom: 32px;
}
.title--line-center {
  padding-bottom: 45px;
  text-align: center;
}
.title--line-center:after {
  position: absolute;
  height: 12px;
  width: 96px;
  background: #267DF4;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -48px;
  content: '';
}
.title--line-right {
  padding-bottom: 45px;
  text-align: right;
}
.title--line-right:after {
  position: absolute;
  height: 12px;
  width: 96px;
  background: #267DF4;
  bottom: 0;
  right: 0;
  content: '';
}
.title--line:after {
  position: absolute;
  height: 12px;
  width: 96px;
  background: #267DF4;
  bottom: 0;
  left: 0;
  content: '';
}
.title-mobile {
  display: none;
}
.land-sections {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1024px;
}
.just-table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.header {
  text-align: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #fafafa;
  -webkit-box-shadow: 0 1px 4px 0 #CCCCCC;
  -moz-box-shadow: 0 1px 4px 0 #CCCCCC;
  box-shadow: 0 1px 4px 0 #CCCCCC;
}
.header-input {
  width: 110px;
  margin: 0 0 0 15px;
  padding: 5px 2px;
  border: none;
  border-bottom: 1px solid #8A8A8A;
  outline: none;
}
.header-input:first-child {
  margin-left: 0;
}
.header-contact-link {
  margin: 38px 0 0;
  color: #393938;
  float: right;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'AgoraSansProMedium', sans-serif;
}
.forgot-pass-link {
  color: #267DF4;
  font-size: 12px;
  margin: 0 10px;
}
.logo {
  width: 74px;
  height: auto;
  display: block;
}
.logo-b {
  float: left;
}
.enter-b {
  float: right;
  margin: 10px 0 0;
}
.section {
  position: relative;
  overflow: hidden;
}
.section .fp-tableCell {
  padding: 130px 15px 0;
  display: table;
  margin: 0 auto;
  max-width: 1378px;
}
.section__cell {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  padding: 0;
  width: 50%;
}
.section__cell:first-child {
  text-align: right;
}
.section-in {
  max-width: 1920px;
  margin: 0 auto;
}
.section-first__left {
  width: 62.07407407%;
  float: left;
}
.section-first__right {
  width: 37.92592593%;
  float: right;
}
.section-second {
  text-align: center;
  overflow: hidden;
}
.section-second__left {
  display: inline-block;
  vertical-align: middle;
  height: 280px;
}
.section-second__left .section-second__item {
  text-align: right;
  font-size: 0;
}
.section-second__left .svg-border {
  display: inline-block;
  margin: 0 0 0 40px;
}
.section-second__right {
  display: inline-block;
  vertical-align: middle;
  height: 280px;
}
.section-second__right .section-second__item {
  text-align: left;
  font-size: 0;
}
.section-second__right .svg-border {
  display: inline-block;
  margin: 0 40px 0 0;
}
.section-second__mid {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}
.section-second__mid img {
  margin: 0 0 -260px;
  width: 340px;
  vertical-align: bottom;
}
.section-second__item {
  margin-bottom: 40px;
  height: 90px;
}
.section-second__item-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.section-second__item-text {
  font-size: 16px;
  line-height: 1.2;
  font-family: AgoraSansProLight, Helvetica, sans-serif;
}
.section-second__item-text-b {
  display: inline-block;
  vertical-align: top;
  max-width: 315px;
}
.section-second__item:hover {
  color: #267DF4;
}
.section-second__item:hover .svg-border-fill {
  fill: #267DF4;
}
.section-second__item:hover .svg-border-stroke {
  stroke: #267DF4;
}
.section-second__items {
  width: 100vw;
  vertical-align: middle;
  display: table-cell;
}
.section-third {
  height: 100%;
  width: 100%;
  display: table;
}
.section-third .title {
  text-align: center;
}
.section-third__tab-b {
  display: inline-block;
  text-align: center;
}
.section-third__tabs {
  margin-bottom: 40px;
}
.section-third__tabs-content {
  position: relative;
  height: 60px;
}
.section-third__text {
  padding: 0 5%;
  font-size: 16px;
  display: none;
  text-align: center;
  line-height: 1.4;
  position: absolute;
  width: 100%;
}
.section-third__text--active {
  display: block;
}
.section-third__tablet {
  position: relative;
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.section-third__phone {
  right: 6%;
  bottom: 19%;
  z-index: 30;
  position: absolute;
  width: 24%;
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.section-third__phone img {
  max-width: 100%;
  height: auto;
}
.section-four {
  height: 100%;
  width: 100%;
  display: table;
  padding: 0;
}
.section-four__text {
  text-align: right;
  font-size: 18px;
  line-height: 1.5;
}
.section-four .features__item:hover,
.section-four .features__item.hovered {
  -webkit-transform: translateX(15px);
  -moz-transform: translateX(15px);
  -ms-transform: translateX(15px);
  -o-transform: translateX(15px);
  transform: translateX(15px);
}
.section-four .showcase {
  bottom: auto;
}
.section-five {
  display: table-cell;
  text-align: center;
  padding: 30px 0 350px;
}
.footer {
  padding: 40px 0 65px;
  background: #ffffff;
  z-index: 10;
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 2px solid #d6d6d6;
}
.footer-authors {
  border-top: 1px solid #e2e2e2;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.footer-authors-link {
  float: right;
  display: inline-block;
}
.footer-authors-text {
  margin: 8px 0 0;
  font-size: 16px;
  display: inline-block;
  text-transform: uppercase;
  color: #949494;
  float: left;
}
.footer-authors-logo {
  font-weight: 700;
  color: #267DF4;
  font-size: 28px;
  margin: 0 0 0 6px;
  display: inline-block;
  float: left;
}
.footer-left {
  float: left;
  text-align: left;
}
.footer-right {
  float: right;
  text-align: left;
}
.footer-right .title {
  margin-bottom: 15px;
  font-size: 24px;
}
.footer-link {
  display: block;
  font-size: 14px;
  color: #393938;
  margin: 5px 0 0;
}
.footer-link:first-child {
  margin: 0;
}
.footer-link-b {
  display: inline-block;
  margin: 20px 0 0;
}
.footer-contact-b {
  line-height: 1.4;
  color: #393938;
  font-size: 18px;
}
.footer-contact-link {
  color: #393938;
  display: inline-block;
  font-size: 18px;
}
.footer-download-b {
  display: inline-block;
}
.footer-download-title {
  font-weight: 400;
  font-size: 18px;
}
.footer-download-link {
  display: inline-block;
  margin: 40px 30px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.footer-download-link:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.rate-b {
  vertical-align: top;
  width: 506px;
  height: 400px;
  display: inline-block;
  margin: 0 30px;
  -webkit-box-shadow: 0 0 24px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 24px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 24px 8px rgba(0, 0, 0, 0.15);
}
.rate-title {
  font-size: 16px;
  color: #1a80c3;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.rate-title-text {
  text-transform: uppercase;
  line-height: 1.1;
  max-width: 370px;
  margin: 0 auto 20px;
  font-size: 24px;
  font-family: 'AgoraSansProMedium', sans-serif;
  color: #393938;
}
.rate-title-sub {
  font-size: 14px;
  margin: -12px 0 20px;
  padding: 0 6%;
}
.rate-list {
  max-width: 355px;
  margin: 0 auto;
}
.rate-list-item {
  text-align: left;
  font-size: 16px;
  line-height: 1.25;
}
.rate-content {
  height: 81.05263158%;
  padding: 50px 0 0;
}
.rate-content--individual {
  background: url("/img/individual-bg.png") 0 100% no-repeat;
}
.rate-content--entity {
  background: url("/img/entity-bg.png") 0 30px no-repeat;
}
.rate-link {
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.rate-link-text {
  display: inline-block;
  color: #393938;
  font-family: 'AgoraSansProMedium', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
.rate-link-arrow {
  display: inline-block;
  color: #393938;
}
.rate-link:hover {
  background: #1A80C3;
}
.rate-link:hover .rate-link-text {
  color: #ffffff;
}
.rate-link:hover .rate-link-arrow {
  color: #ffffff;
}
.rate-link-b {
  height: 18.94736842%;
  border-top: 1px solid #c0c0c0;
  width: 100%;
  display: table;
}
.no-overflow {
  overflow: visible;
}
.showcase {
  position: relative;
  bottom: 30px;
}
.showcase__circle {
  position: absolute;
  right: -2%;
  bottom: 22%;
  width: 58%;
}
.features {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features__text {
  opacity: 0;
  display: block;
  position: absolute;
  top: calc(110%);
  font-size: 14px;
  color: #393938;
  width: 300%;
  margin-left: -100%;
  pointer-events: none;
  -webkit-transition: .25s linear opacity;
  -moz-transition: .25s linear opacity;
  -ms-transition: .25s linear opacity;
  -o-transition: .25s linear opacity;
  transition: .25s linear opacity;
}
.features__item {
  display: inline-block;
  position: absolute;
  background-color: #545454;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 10;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out transform;
  -moz-transition: 0.2s ease-in-out transform;
  -ms-transition: 0.2s ease-in-out transform;
  -o-transition: 0.2s ease-in-out transform;
  transition: 0.2s ease-in-out transform;
}
.features__item:hover {
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transform: translateX(-15px);
}
.features__item:hover .features__text {
  opacity: 1;
}
.features__item.hovered {
  background-color: #545454;
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transform: translateX(-15px);
}
.features__item.hovered .features__text {
  opacity: 1;
}
.features__item svg {
  fill: #fff;
}
.features__item-1 {
  width: 41px;
  height: 41px;
  left: 38%;
  top: 2%;
}
.features__item-2 {
  width: 48px;
  height: 48px;
  left: 18%;
  top: 20%;
}
.features__item-3 {
  width: 54px;
  height: 54px;
  left: 6%;
  top: 46%;
}
.features__item-4 {
  width: 58px;
  height: 58px;
  left: 12%;
  top: 79%;
}
.features__item-5 {
  width: 60px;
  height: 60px;
  left: 52%;
  top: 90%;
}
.features__item-6 {
  width: 48px;
  height: 48px;
  left: 52%;
  top: 20%;
}
.features__item-7 {
  width: 51px;
  height: 51px;
  left: 65%;
  top: 36%;
}
.features__item-8 {
  width: 54px;
  height: 54px;
  left: 68%;
  top: 56%;
}
.features__item-9 {
  width: 58px;
  height: 58px;
  left: 57%;
  top: 77%;
}
.features__item-blue {
  background-color: #007ef8;
}
.features-icon-discounts {
  line-height: 41px;
  font-family: AgoraSansProBlack;
  font-size: 22px;
}
.features-icon-security {
  width: 38%;
  height: 100%;
  margin-top: -4%;
}
.features-icon-speed {
  width: 62%;
  height: 100%;
  margin: -1% 0 0 -2%;
}
.features-icon-info {
  width: 50%;
  margin-right: 8%;
  height: 100%;
}
.features-icon-nocash {
  width: 64%;
  height: 100%;
}
.features-icon-restoran {
  width: 60%;
  height: 100%;
}
.features-icon-trade {
  width: 50%;
  height: 100%;
}
.features-icon-service {
  width: 64%;
  height: 100%;
}
.features-icon-avto {
  width: 70%;
  height: 100%;
}
.phone {
  position: relative;
}
.phone__frame {
  float: right;
  width: 60%;
}
.phone__overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
}
.phone__overlay img {
  max-width: 100%;
  height: auto;
}
.phone__overlay > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.25s ease-in-out opacity;
  -moz-transition: 0.25s ease-in-out opacity;
  -ms-transition: 0.25s ease-in-out opacity;
  -o-transition: 0.25s ease-in-out opacity;
  transition: 0.25s ease-in-out opacity;
}
.phone__overlay > div.show-phone-overlay,
.phone__overlay > div:first-child {
  visibility: visible;
  opacity: 1;
}
.mask-tablet {
  overflow: hidden;
  position: absolute!important;
  top: 6.4%;
  left: 10%;
  right: 21.5%;
  bottom: 0;
  z-index: 20!important;
}
.mask-tablet > div {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.mask-tablet > div.active {
  position: relative;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.mask-tablet img {
  max-width: 100%;
  height: auto;
}
.mask-phone {
  overflow: hidden;
  position: absolute;
  top: 8.5%;
  left: 5.5%;
  right: 4.5%;
  bottom: 0;
}
.mask-phone > div {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.mask-phone > div.active {
  position: relative;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.mask-phone img {
  max-width: 100%;
  height: auto;
}
.big-blue-border {
  position: absolute;
  bottom: 14%;
  left: 4%;
  width: 150px;
  height: 150px;
  border: 10px solid #267DF4;
}
.phone-2 {
  position: relative;
}
.phone-2__frame {
  width: 65%;
}
.phone-2__overlay {
  position: absolute;
  top: 9%;
  left: 6.7%;
  width: 55%;
}
.phone-2__overlay img {
  max-width: 100%;
  height: auto;
}
.phone-2__overlay > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.25s ease-in-out opacity;
  -moz-transition: 0.25s ease-in-out opacity;
  -ms-transition: 0.25s ease-in-out opacity;
  -o-transition: 0.25s ease-in-out opacity;
  transition: 0.25s ease-in-out opacity;
}
.phone-2__overlay > div:first-child {
  visibility: visible;
  opacity: 1;
}
.phone-2__overlay > div.show-phone-overlay {
  visibility: visible;
  opacity: 1;
}
.social-box {
  text-align: center;
  font-size: 0;
  padding: 30px 0;
}
.social-box__item {
  display: inline-block;
  width: 24px;
  margin: 0 10px;
}
.applemarket__button {
  width: 200px;
  height: 60px;
  margin: 0 0 10px 40px;
  color: #fff;
  background-color: #267DF4;
  display: inline-block;
  -webkit-transition: 0.25s ease-in-out background-color;
  -moz-transition: 0.25s ease-in-out background-color;
  -ms-transition: 0.25s ease-in-out background-color;
  -o-transition: 0.25s ease-in-out background-color;
  transition: 0.25s ease-in-out background-color;
}
.applemarket__button:first-child {
  margin-left: 0;
}
.applemarket__button:hover {
  background-color: #363635;
}
.applemarket__button-dark {
  background-color: #363635;
}
.applemarket__button-dark:hover {
  background-color: #267DF4;
}
.applemarket__button-logo {
  width: 70px;
  height: 100%;
  float: left;
}
.applemarket__button-logo-play {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOS45OSAzMi4zNyI+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1IDUpIj48cGF0aCBmaWxsPSJub25lIiBkPSJNMTQuNzUgNy42N2w0LjU4IDIuNjFhLjk0Ljk0IDAgMCAxIDAgMS43OWwtNC43IDIuNjgtMy4wNy0zLjUyek0xNCA3LjIxTDIuMjYuNTRsOC43NSAxMHpNMiAyMS45NGwxMS44Ny02Ljc2TDExIDExLjg5em0tMS4zNi40M0ExIDEgMCAwIDEgMCAyMS4yNlYxLjA5QTEuMDcgMS4wNyAwIDAgMSAuNTYgMGw5Ljg2IDExLjI0eiIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2EpIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDI5Ljk5djMyLjM3SDB6Ii8+PC9nPjwvc3ZnPg==) center no-repeat;
  background-size: 60%;
}
.applemarket__button-logo-apple {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOS45MyAzNSI+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0LjM0IDUpIj48cGF0aCBmaWxsPSJub25lIiBkPSJNMTQuMjMgNGE1LjU5IDUuNTkgMCAwIDAgMS4yNy00IDUuNDUgNS40NSAwIDAgMC0zLjYxIDEuODkgNS4zMSA1LjMxIDAgMCAwLTEuMyAzLjg3QTQuNSA0LjUgMCAwIDAgMTQuMjMgNHptMy4wOCA5LjI5QTUuNjcgNS42NyAwIDAgMSAyMCA4LjUyIDUuNjggNS42OCAwIDAgMCAxNS40NyA2Yy0xLjkxLS4yLTMuNzIgMS4xNS00LjY5IDEuMTVzLTIuNDYtMS4xMi00LTEuMDlhNiA2IDAgMCAwLTUuMDkgMy4xOGMtMi4xNiAzLjgzLS41NSA5LjQ5IDEuNTUgMTIuNiAxIDEuNTIgMi4yNSAzLjIyIDMuODYgMy4xNnMyLjE0LTEgNC0xIDIuNCAxIDQgMSAyLjcyLTEuNTUgMy43NS0zLjA3YTEzLjkyIDEzLjkyIDAgMCAwIDEuNy0zLjU2IDUuNTEgNS41MSAwIDAgMS0zLjI0LTUuMDl6IiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L2NsaXBQYXRoPjwvZGVmcz48ZyBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDBoMjkuOTN2MzVIMHoiLz48L2c+PC9zdmc+) center no-repeat;
  background-size: 60%;
}
.applemarket__button-label {
  text-align: left;
  padding: 12px 0;
}
.applemarket__button-label span {
  font-size: 14px;
  display: block;
  margin-bottom: 4px;
}
.applemarket__button-label strong {
  font-size: 18px;
}
.section-first .title span {
  display: inline-block;
}
.text {
  line-height: 1.5;
  padding-right: 50px;
}
.mobile-download-box {
  width: 100%;
  border-top: 5px solid #267DF4;
  height: 80px;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  transform: translateY(-80px);
  color: #fff;
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 9090;
}
.mobile-download-box.show-mobile-download-box {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.mobile-download-box__logo {
  position: absolute;
  top: 6px;
  left: 26px;
  width: 62px;
  height: 62px;
  padding: 6px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.mobile-download-box__logo img {
  width: 100%;
  height: 100%;
}
.mobile-download-box__content {
  position: absolute;
  top: 8px;
  left: 96px;
  width: 48%;
}
.mobile-download-box-title {
  font-size: 16px;
  font-weight: bold;
  display: block;
}
.mobile-download-box-desc {
  font-size: 13px;
}
.mobile-download-box__btn {
  position: absolute;
  display: block;
  right: 8px;
  border: 1px solid #fff;
  top: 20px;
  min-width: 84px;
  max-width: 120px;
  width: 20%;
  background-color: #267DF4;
  text-align: center;
  padding: 5px 0px;
  color: #fff;
  text-decoration: none;
}
.mobile-download-box__close {
  position: absolute;
  left: 4px;
  top: 7px;
  width: 17px;
  height: 17px;
  display: block;
  border: 0;
  background: #1c1e21;
  text-align: center;
  line-height: 17px;
  font-size: 13px;
  color: #b1b1b3;
  text-shadow: 0 1px 1px #000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8) inset, 0 1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 14px;
}
.scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 40px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #267DF4;
  -webkit-transition: .25s all;
  -moz-transition: .25s all;
  transition: .25s all;
}
.scroll-top-btn:before,
.scroll-top-btn:after {
  content: '';
  position: absolute;
  left: 7px;
  top: 19px;
  width: 15px;
  height: 1px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.scroll-top-btn:after {
  left: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.scroll-top-btn:hover {
  background-color: #094dab;
}
.input-holder {
  position: relative;
  display: inline-block;
}
.help-block {
  position: absolute;
  color: red;
  top: calc(100% + 5px);
  font-size: 12px;
  display: block;
  width: 300%;
}
.container-in {
  max-width: 1378px;
  margin: 0 auto;
  padding: 0 15px;
}
.menu-b {
  display: inline-block;
  padding: 38px 0 0;
}
.menu-item {
  margin: 0 0 0 50px;
  float: left;
  font-size: 0;
}
.menu-item:first-child {
  margin: 0;
}
.menu-item.active .menu-link {
  color: #999999;
  border-bottom: 2px solid #1A80C3;
}
.menu-link {
  padding: 0 0 7px;
  font-family: 'AgoraSansProMedium', sans-serif;
  color: #757575;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
}
.menu-link:hover {
  color: #999999;
  border-bottom: 2px solid #1A80C3;
}
.burger-b {
  display: none;
}
.overlay {
  position: relative;
  background: #ffffff;
  padding: 50px 85px;
  max-width: 670px;
  margin: 0 auto;
}
.overlay-b {
  z-index: 1000;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 80px 0 0;
}
.overlay-close-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 30px;
}
.form-title {
  font-size: 24px;
  font-family: AgoraSansProBold, Helvetica, sans-serif;
  color: #393938;
  margin-bottom: 40px;
}
.form-input {
  outline: none;
  margin: 0 0 30px;
  display: block;
  border: none;
  border-bottom: 1px solid #2281C1;
  width: 100%;
  font-size: 18px;
  font-family: 'AgoraSansProMedium', sans-serif;
  color: #7c7c7c;
  padding: 10px 20px;
}
.form-text {
  display: block;
  outline: none;
  width: 100%;
  margin: 0 0 30px;
  border: 1px solid #b5b5b5;
  padding: 20px;
  font-family: 'AgoraSansProMedium', sans-serif;
  font-size: 18px;
  text-align: left;
  color: #7c7c7c;
  min-height: 150px;
}
.form-link-b {
  text-align: right;
}
.error-input {
  border-color: red;
}
@media screen and (min-width: 1600px) {
  .section-first {
    padding-top: 0;
  }
  .features-icon-discounts {
    line-height: 58.5px;
  }
  .features__item-1 {
    width: 53.3px;
    height: 53.3px;
  }
  .features__item-2 {
    width: 62.4px;
    height: 62.4px;
  }
  .features__item-3 {
    width: 70.2px;
    height: 70.2px;
  }
  .features__item-4 {
    width: 75.4px;
    height: 75.4px;
  }
  .features__item-5 {
    width: 78px;
    height: 78px;
  }
  .features__item-6 {
    width: 62.4px;
    height: 62.4px;
  }
  .features__item-7 {
    width: 66.3px;
    height: 66.3px;
  }
  .features__item-8 {
    width: 70.2px;
    height: 70.2px;
  }
  .features__item-9 {
    width: 75.4px;
    height: 75.4px;
  }
  .big-blue-border {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 1600px) {
  .block-link {
    height: 40px;
    padding: 7px 34px;
    font-size: 16px;
  }
  button.block-link {
    padding: 0 34px;
  }
  .title {
    font-size: 34px;
    margin-bottom: 25px;
  }
  .title--line {
    padding-bottom: 30px;
  }
  .title--line:after {
    height: 8px;
  }
  .city-select__text {
    font-size: 16px;
  }
  .city-select__link {
    font-size: 16px;
  }
  .svg-border {
    width: 90px;
    height: 90px;
  }
  .svg-border:hover use .svg-border-stroke {
    stroke: #267DF4;
  }
  .svg-border:hover use .svg-border-fill {
    fill: #267DF4;
  }
  .section-second {
    width: 100%;
  }
  .section-second__left .svg-border {
    margin: 0 0 0 30px;
  }
  .section-second__right .svg-border {
    margin: 0 30px 0 0;
  }
  .section-second__mid img {
    width: 200px;
  }
  .section-second__item {
    margin-bottom: 25px;
    color: #393938;
  }
  .section-second__item-title {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .section-second__item-text {
    font-size: 14px;
    line-height: 1.1;
  }
  .section-second__item-text-b {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
  }
  .logo {
    width: 65px;
  }
  .text {
    line-height: 1.3;
    font-size: 16px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1400px) {
  .svg-tab {
    margin: 0 0 0 30px;
  }
  .svg-tab--speed {
    width: 50px;
    height: 62px;
  }
  .svg-tab--number {
    height: 62px;
    width: 51px;
  }
  .svg-tab--security {
    height: 62px;
    width: 52px;
  }
  .svg-tab--marketing {
    width: 62px;
    height: 62px;
  }
  .svg-tab--analytics {
    width: 62px;
    height: 62px;
  }
  .header {
    padding: 12px 0;
  }
  .header-contact-link {
    margin: 25px 0 0;
    font-size: 12px;
  }
  .container-in {
    max-width: 1230px;
  }
  .section .fp-tableCell {
    max-width: 1230px;
    padding: 92px 15px 0;
  }
  .section-first__right {
    width: 31%;
  }
  .section-second__mid img {
    margin: 0;
  }
  .section-second__item-title {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .section-second__left .svg-border {
    margin: 0 0 0 20px;
  }
  .section-second__right .svg-border {
    margin: 0 20px 0 0;
  }
  .section-third__tabs {
    margin-bottom: 30px;
  }
  .section-third__tabs-content {
    height: 90px;
  }
  .section-third__text {
    font-size: 14px;
  }
  .section-four__text {
    font-size: 16px;
  }
  .logo {
    width: 50px;
  }
  .menu-b {
    padding: 25px 0 0;
  }
  .menu-link {
    font-size: 12px;
    padding: 0 0 4px;
  }
  .title {
    font-size: 26px;
    margin-bottom: 25px;
  }
  .title:after {
    height: 6px;
  }
  .title--line {
    margin-bottom: 20px;
    padding-bottom: 25px;
  }
  .title--line-center {
    padding-bottom: 25px;
  }
  .title--line-right {
    padding-bottom: 25px;
  }
  .phone-2__frame {
    width: 42%;
  }
  .phone-2__overlay {
    top: 8.5%;
    left: 4.1%;
    width: 36.1%;
  }
  .features__item-6 {
    left: 38%;
    top: 6%;
  }
  .features__item-7 {
    left: 51%;
    top: 24%;
  }
  .features__item-8 {
    left: 57%;
    top: 54%;
  }
  .features__item-9 {
    left: 48%;
    top: 85%;
  }
  .footer {
    padding: 20px 0 55px;
  }
  .footer-right .title {
    font-size: 16px;
  }
  .footer-download-title {
    font-size: 16px;
  }
  .footer-download-link {
    margin: 30px 20px 0;
  }
  .footer-contact-b {
    font-size: 16px;
  }
  .footer-contact-link {
    font-size: 16px;
  }
  .footer-authors {
    padding: 5px 0;
  }
  .footer-authors-text {
    margin: 10px 0 0;
    font-size: 14px;
  }
  .rate-b {
    width: 440px;
    height: 255px;
  }
  .rate-content {
    padding: 20px 0 0;
  }
  .rate-title {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .rate-title-text {
    font-size: 18px;
    max-width: 300px;
    margin: 0 auto 15px;
  }
  .rate-title-sub {
    font-size: 13px;
    padding: 0 4%;
    margin: -12px 0 15px;
  }
  .rate-list {
    max-width: 355px;
  }
  .rate-list-item {
    font-size: 14px;
  }
  .overlay {
    padding: 40px 60px;
    max-width: 620px;
  }
  .overlay-b {
    padding: 50px 0 0;
  }
  .form-title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .form-input {
    margin: 0 0 20px;
    font-size: 18px;
    padding: 10px 15px;
  }
  .form-text {
    margin: 0 0 20px;
    padding: 15px;
    font-size: 18px;
    min-height: 100px;
  }
}
@media screen and (max-width: 1250px) {
  .section-second__left .svg-border {
    margin: 0 0 0 20px;
  }
  .section-second__mid {
    padding: 0 20px;
  }
  .section-second__mid img {
    width: 210px;
  }
  .section-second__item-title {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .section-second__item-text-b {
    max-width: 250px;
  }
}
@media screen and (max-width: 1200px) {
  .container-in {
    max-width: 1040px;
  }
  .section .fp-tableCell {
    max-width: 1040px;
  }
  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .showcase {
    bottom: auto;
  }
  .title--line {
    padding-bottom: 20px;
  }
  .text {
    line-height: 1.2;
    font-size: 16px;
  }
  .block-links {
    margin: 20px 0 40px;
  }
  .block-links .block-link {
    margin: 0 0 0 20px;
  }
  .applemarket__button {
    margin: 0 0 10px 20px;
  }
  .applemarket:first-child {
    margin-left: 0;
  }
  .svg-tab--analytics {
    width: 56.8px;
    height: 54.4px;
  }
  .svg-tab--speed {
    width: 58.4px;
    height: 67.2px;
  }
  .svg-tab--marketing {
    width: 58.4px;
    height: 58.4px;
  }
  .svg-tab--number {
    width: 52.8px;
    height: 63.2px;
  }
  .svg-tab--security {
    width: 52px;
    height: 64px;
  }
  .section-four .section__cell:first-child {
    padding: 0;
  }
  .section-five .applemarket__button {
    margin: 10px!important;
  }
  .applemarket__title {
    margin-bottom: 20px;
  }
}
.mobile .applemarket__box {
  margin-top: 30px;
}
.header-mobile {
  z-index: 100;
  background: #267DF4;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0;
}
.header-mobile .logo-b {
  display: none;
}
.header-mobile .burger {
  display: inline-block;
  height: 50px;
  width: 50px;
}
.header-mobile .burger-b {
  position: absolute;
  left: 30px;
  top: 0;
  display: block;
  height: 100px;
  width: 50px;
  float: left;
  padding: 25px 0;
  font-size: 0;
}
.header-mobile .burger-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.header-mobile .container-in {
  padding: 0 30px;
}
.header-mobile .menu-b {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  padding: 30px;
  background: #267DF4;
}
.header-mobile .menu-item {
  display: block;
  float: none;
  margin: 15px 0 0;
}
.header-mobile .menu-item:first-child {
  margin: 0;
}
.header-mobile .menu-link {
  color: #ffffff;
  font-size: 32px;
  text-transform: uppercase;
  font-family: "AgoraSansProRegular", sans-serif;
}
.header-mobile .menu-link:hover {
  border: none;
}
.header-mobile .header-contact-link {
  display: none;
}
.header-mobile .title-mobile {
  display: inline-block;
  line-height: 100px;
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: AgoraSansProBold, Helvetica, sans-serif;
}
.mobile-view .container-in {
  padding: 0 30px;
}
.mobile-view .mobile-download-box {
  display: block;
}
.mobile-view.land-sections {
  padding: 100px 0 0;
  min-width: 300px;
  max-width: 800px;
}
.mobile-view .logo {
  width: 58px;
  height: 72px;
}
.mobile-view .showcase {
  bottom: auto;
}
.mobile-view .section-first__left,
.mobile-view .section-first__right {
  width: 100%;
  float: none;
}
.mobile-view .section-first .applemarket__box {
  text-align: center;
  display: none;
}
.mobile-view .block-links {
  text-align: center;
  margin: 20px 0;
  display: none;
}
.mobile-view .block-link {
  margin: 5px!important;
}
.mobile-view .applemarket__button {
  margin: 10px!important;
}
.mobile-view .showcase__circle {
  display: none;
}
.mobile-view .phone {
  display: none;
}
.mobile-view .title {
  text-align: left;
  font-size: 30px;
}
.mobile-view .title br {
  display: none;
}
.mobile-view .title--line:after {
  left: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.mobile-view .features {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.mobile-view .features__item {
  position: relative;
  left: auto;
  top: auto;
  width: 60px;
  height: 60px;
  vertical-align: top;
  margin: 20px 20px 30px;
  background-color: #007ef8;
}
.mobile-view .features__item:hover {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.mobile-view .features__text {
  opacity: 1;
  width: 170%;
  margin-left: -40%;
}
.mobile-view .features-icon-discounts {
  line-height: 60px;
}
.mobile-view .section-second {
  padding: 0;
}
.mobile-view .section-second__items {
  position: relative;
}
.mobile-view .section-second__left {
  display: block;
  height: auto;
}
.mobile-view .section-second__left .section-second__item {
  text-align: left;
}
.mobile-view .section-second__mid {
  display: none;
}
.mobile-view .section-second__item {
  margin: 20px auto;
  padding: 0 20px;
  max-width: 360px;
  height: auto;
}
.mobile-view .section-second__item-title {
  font-size: 20px;
}
.mobile-view .section-second__item-text-b {
  max-width: 230px;
}
.mobile-view .section-second .title {
  text-align: left;
  padding: 20px 0;
}
.mobile-view .section-second .title:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 96px;
  background: #267DF4;
  bottom: 0;
  left: 0;
}
.mobile-view .section-second__right {
  display: block;
  height: auto;
}
.mobile-view .section-second__right .svg-border {
  float: right;
  margin: 0 0 0 20px;
}
.mobile-view .svg-border {
  width: 70px;
  height: 70px;
}
.mobile-view .section-third {
  display: block;
}
.mobile-view .section-third .title {
  text-align: left;
  padding-bottom: 20px;
}
.mobile-view .section-third .title:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 96px;
  background: #267DF4;
  bottom: 0;
  left: 0;
  margin: 0;
}
.mobile-view .section-third__tablet {
  display: none;
}
.mobile-view .section-third__tabs {
  max-width: 500px;
  margin: 0 auto;
}
.mobile-view .section-third__tabs-content {
  display: none;
}
.mobile-view .section__cell {
  display: block;
  padding: 0;
  width: 100%;
}
.mobile-view .only-mobile {
  display: block;
  margin-bottom: 20px;
}
.mobile-view .svg-tab {
  margin: 10px;
}
.mobile-view .svg-tab path {
  fill: #267DF4;
}
.mobile-view .phone-2 {
  display: none;
}
.mobile-view .big-blue-border {
  display: none;
}
.mobile-view .section-four {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.mobile-view .section-four .section__cell:first-child {
  order: 2;
}
.mobile-view .section-four .title {
  text-align: left;
  padding-bottom: 20px;
}
.mobile-view .section-four .title:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 96px;
  background: #267DF4;
  bottom: 0;
  left: 0;
  margin: 0;
}
.mobile-view .section-four__text {
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
}
.mobile-view .section-five {
  padding: 0;
}
.mobile-view .section-five__top {
  padding: 20px;
  background-color: transparent;
}
.mobile-view .section-five__top:before,
.mobile-view .section-five__top:after {
  content: initial;
}
.mobile-view .section-five__bot {
  position: relative;
}
.mobile-view .section-five__bot-left {
  display: none;
}
.mobile-view .section-five__bot-mid {
  width: 100%;
  float: none;
}
.mobile-view .section-five__bot-right {
  width: 100%;
  float: none;
  text-align: center;
}
.mobile-view .section-five .applemarket__box {
  margin-bottom: 20px;
  text-align: center;
}
.mobile-view .section-five .title {
  text-align: left;
  padding-bottom: 20px;
}
.mobile-view .section-five .title:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 96px;
  background: #267DF4;
  bottom: 0;
  left: 0;
  margin: 0;
}
.mobile-view .input {
  padding: 10px 20px;
  position: relative;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #C3C3C3;
  background: none;
}
.mobile-view .input-b {
  width: 100%;
  min-width: initial;
  max-width: 400px;
  height: auto;
  border: 0;
  padding: 0;
  overflow: visible;
}
.mobile-view .input-button {
  position: relative;
  margin-top: 20px;
}
.mobile-view .section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  height: auto!important;
}
.mobile-view .rate-b {
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 30px auto 0;
}
.mobile-view .rate-b:first-child {
  margin: 0 auto;
}
.mobile-view .rate-content {
  padding: 20px;
}
.mobile-view .rate-title {
  font-size: 24px;
  margin-bottom: 15px;
}
.mobile-view .rate-title-text {
  font-size: 34px;
  max-width: 100%;
}
.mobile-view .rate-title-sub {
  font-size: 16px;
  margin: -12px 0 20px;
  padding: 0 7%;
}
.mobile-view .rate-list {
  max-width: 100%;
}
.mobile-view .rate-list-item {
  font-size: 20px;
}
.mobile-view .footer {
  background: #fafafa;
  border: none;
  display: block;
  position: relative;
  height: auto;
  padding: 30px 30px 0;
  margin: 40px -30px 0;
  left: auto;
  right: auto;
  bottom: auto;
}
.mobile-view .footer-authors {
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
}
.mobile-view .footer .logo {
  display: none;
}
.mobile-view .footer-download-title {
  font-size: 28px;
}
.mobile-view .footer-left {
  margin: 0 auto 30px;
  float: none;
  width: 100%;
  text-align: center;
}
.mobile-view .footer-link {
  font-size: 34px;
}
.mobile-view .footer-right {
  float: none;
  width: 100%;
  text-align: center;
}
.mobile-view .footer .title {
  text-align: center;
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.mobile-view .footer .title:after {
  display: none;
}
.mobile-view .footer-contact-b {
  font-size: 24px;
}
.mobile-view .footer-contact-link {
  font-size: 24px;
}
.mobile-view .footer-authors {
  padding: 10px 0;
  margin: 30px 0 0;
}
.mobile-view .footer-authors-link {
  float: none;
}
.only-mobile {
  display: none;
}
@media screen and (max-width: 900px) {
  .overlay {
    padding: 40px 20px 30px;
    max-width: 580px;
  }
  .overlay-b {
    padding: 20px 0 0;
  }
  .form-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .form-input {
    margin: 0 0 20px;
    font-size: 16px;
    padding: 10px;
  }
  .form-text {
    margin: 0 0 20px;
    padding: 10px;
    font-size: 16px;
    min-height: 100px;
  }
}
@media screen and (max-width: 630px) {
  .mobile-view .enter-b {
    text-align: right;
    width: 242px;
    margin: 0;
  }
  .mobile-view .forgot-pass-link {
    width: 122px;
    margin: 0;
    display: inline-block;
    text-align: left;
  }
  .mobile-view .block-link {
    margin: 10px 0!important;
    padding: 5px 25px;
    height: auto;
  }
  .mobile-view.land-sections {
    padding: 50px 0 0;
  }
  .mobile-view .title {
    font-size: 24px;
  }
  .mobile-view .rate-b {
    height: auto;
  }
  .mobile-view .rate-content {
    padding: 30px;
    height: auto;
  }
  .mobile-view .rate-title {
    font-size: 18px;
  }
  .mobile-view .rate-title-text {
    font-size: 26px;
  }
  .mobile-view .rate-title-sub {
    font-size: 14px;
    padding: 0 5%;
  }
  .mobile-view .rate-list-item {
    font-size: 16px;
  }
  .mobile-view .rate-link-b {
    height: 45px;
    background: #267DF4;
  }
  .mobile-view .rate-link-text {
    color: #ffffff;
  }
  .mobile-view .rate-link-arrow {
    color: #ffffff;
  }
  .mobile-view .footer {
    padding: 30px 20px 0;
    margin: 30px -20px 0;
  }
  .mobile-view .footer .container-in {
    padding: 0;
  }
  .mobile-view .footer-download-title {
    font-size: 24px;
  }
  .mobile-view .footer-link {
    font-size: 20px;
  }
  .mobile-view .footer-contact-b {
    font-size: 20px;
  }
  .mobile-view .footer-contact-link {
    font-size: 20px;
  }
  .mobile-view .footer-authors-text {
    font-size: 12px;
  }
  .mobile-view .section {
    padding: 20px;
  }
  .header-mobile {
    height: 50px;
  }
  .header-mobile .burger {
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  .header-mobile .burger-b {
    left: 20px;
    height: 50px;
    width: 30px;
    padding: 10px 0;
  }
  .header-mobile .container-in {
    padding: 0 20px;
  }
  .header-mobile .menu-b {
    padding: 20px;
  }
  .header-mobile .menu-link {
    font-size: 20px;
  }
  .header-mobile .menu-link:hover {
    border: none;
  }
  .header-mobile .header-contact-link {
    display: none;
  }
  .header-mobile .title-mobile {
    line-height: 50px;
    font-size: 28px;
  }
  .overlay {
    max-width: 100%;
    margin: 0 20px;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }
  .header-mobile .menu-link {
    font-size: 18px;
  }
  .mobile-view .title {
    font-size: 20px;
  }
  .mobile-view .svg-border {
    width: 25%;
    margin-left: 5%!important;
  }
  .mobile-view .section-second__item-text-b {
    width: 70%;
    display: block;
    float: left;
  }
  .mobile-view .enter-b {
    text-align: center;
    width: 114px;
  }
  .mobile-view .header-input {
    margin: 0 0 10px 0;
  }
  .mobile-view .forgot-pass-link {
    text-align: center;
  }
  .mobile-view .rate-title {
    font-size: 16px;
  }
  .mobile-view .rate-title-text {
    font-size: 18px;
  }
  .mobile-view .rate-title-sub {
    font-size: 12px;
    padding: 0;
  }
  .mobile-view .rate-list-item {
    font-size: 15px;
  }
  .mobile-view .rate-content {
    padding: 20px;
  }
  .mobile-view .section-four__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .header-mobile .title-mobile {
    font-size: 24px;
  }
}
